@font-face{
    font-family: 'verdana';
    src: url('fonts/verdana.ttf');
}

@media all and (max-width:1200px){

#photo{
    order: 1;
}

#titre{
    order: 2;
}
#pres-pres{
    order: 3;
}
#pres-titre{
    justify-content: center;
    align-items: center;
}
#comp-comp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important; 
}
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%;
}

#cv-page{
    width: 60%;
    min-width: 350px;
    max-width: 1000px;
    margin: auto;  
    display: flex;
}

aside{
    background-color: #59B0B9;
    width: 30%;
    padding: 3px;
}

section{
    box-shadow: 3px 3px 3px gray;
    width: 70%;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

#presentation{
    display: flex;
}

#pres-info{
    text-align: end;
    padding-right: 10px;
}

#pres-info ul{
    list-style: none;
}

#pres-titre{
    display: flex;
    flex-wrap: wrap;
}

#titre{
    width: 70%;
    text-align: center;
    font-size: 1.5em;
}

#pres-pres{
    font-size: 1.2em;
}

#icones-liens{
    height: 4em;
    display: flex;
}

#icones-liens img{
    height: 100%;
    transition: transform 500ms ease-in;
}

#icones-liens img:hover{
    transform: rotate(-1turn);
}

#icones-liens a{
    width: 50%;
    display: flex;
    justify-content: center;
}

#photo{
    flex: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background: url('images/photoId-2.jpg') no-repeat center;
}

#photo img:active{
    opacity: 0;
    cursor: grabbing;
}

#photo img{
    box-sizing: border-box;
    /* height: 100%; */
    box-shadow: 3px 3px 3px gray;
    transition: opacity 1000ms ease-in-out;
}

#comp-comp{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

#comp-comp div{
    display: flex;
    justify-content: center;
    width: 50%;
}

#comp-comp h4{
    width: 50%;
}

#comp-comp img{
    height: 15%;
    width: 15%;
}

h3{
    text-transform: uppercase;
}

