@font-face{
    font-family: 'verdana';
    src: url('fonts/verdana.ttf');
}

@media all and (max-width:1200px){

#photo{
    order: 1;
}

em{
    color: blue;
}

strong{
    font-size: larger;
}

#titre{
    order: 2;
}
#pres-pres{
    order: 3;
}
#pres-titre{
    justify-content: center;
    align-items: center;
}
#comp-comp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important; 
}
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    width: 100%;
}

#cv-page{
    width: 60%;
    min-width: 350px;
    max-width: 1000px;
    margin: auto;  
    display: flex;
}

aside{
    background-color: #59B0B9;
    width: 30%;
    padding: 3px;
}

section{
    box-shadow: 3px 3px 3px gray;
    width: 70%;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}

#presentation{
    display: flex;
}

#pres-info{
    text-align: end;
    padding-right: 10px;
}

#pres-info ul{
    list-style: none;
}

#pres-titre{
    display: flex;
    flex-wrap: wrap;
}

#titre{
    width: 70%;
    text-align: center;
    font-size: 1.5em;
}

#pres-pres{
    font-size: 1.1em;
    text-align: center;
}

#icones-liens{
    height: 4em;
    display: flex;
}

#icones-liens img{
    height: 100%;
    transition: transform 500ms ease-in;
}

#icones-liens img:hover{
    transform: rotate(-1turn);
}

#icones-liens a{
    width: 50%;
    display: flex;
    justify-content: center;
}

#photo{
    flex: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background: url('images/photoId-2.jpg') no-repeat center;
}

#photo img:hover{
    opacity: 0;
    cursor: grabbing;
}

#photo img{
    box-sizing: border-box;
    /* height: 100%; */
    box-shadow: 3px 3px 3px gray;
    transition: opacity 800ms ease-in;
}

#comp-comp{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
}

#comp-comp div{
    display: flex;
    justify-content: center;
    width: 50%;
}

#comp-comp h4{
    width: 50%;
}

#comp-comp img{
    height: 15%;
    width: 15%;
    transition: transform 200ms;
}

#comp-comp img:hover{
    transform: scale(1.5);
}

h3{
    color: #59B0B9;
}
aside h2{
    color: black;
}
#passion ul{
    padding-left: 5px;
    list-style: none;
}

#sports:hover img{
    transform: translateX(30px);
}

#passion img{
    float: left;
    padding-right: 40px;
}

#passion{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#sports img{
    transition: transform 800ms cubic-bezier(.05,-0.63,.37,.75);
}

#voyage img{
    transform: rotate(20deg);
    transition: transform 1000ms cubic-bezier(.05,-0.63,.37,.75);
}

#voyage:hover img{
    transform:  rotate(-5deg) translateX(30px);
}

#loisirs img{
    transition: transform 1000ms cubic-bezier(0,1.05,1,-0.99);
    transform-origin: center;
}

#loisirs:hover img{
   transform: rotate(-15deg) translateY(-10px);
}